# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/chapter03-App1OfCUDA/template_runtime/*.ncb
/chapter03-App1OfCUDA/template_runtime/*.suo
/chapter03-App1OfCUDA/template_runtime/*.user
/chapter03-App1OfCUDA/template_runtime/*.opensdf
/chapter03-App1OfCUDA/template_runtime/*.sdf
/chapter03-App1OfCUDA/sumOfSquares/*.ncb
/chapter03-App1OfCUDA/sumOfSquares/*.suo
/chapter03-App1OfCUDA/sumOfSquares/*.user
/chapter03-App1OfCUDA/sumOfSquares/*.sdf
/chapter03-App1OfCUDA/sumOfSquares/Debug
/chapter03-App1OfCUDA/sumOfSquares/Win32
/bin/win32/debug/*.ilk
/bin/win32/debug/*.pdb
/chapter03-App1OfCUDA/sumOfSquares/*.pdb
/chapter03-App1OfCUDA/sumOfSquares/*.opensdf
